# Ignore own environment variable setups.
env.sh
kickstart_python.test

# Ignore .pcap outputs.
s*.pcap
1K-10.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# This was a debugging script.
x.sh