# Ignore own environment variable setups.
env.sh
kickstart_python.test


# Ignore .pcap outputs.
s*.pcap

# Ignore log files
1K-10.txt
nohup.out
time.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# This was a debugging script.
x.sh