#!/bin/bash
THIS_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

# ---------------- EDIT THIS ------------------
TOPO_EXEC_PATH=$THIS_DIR/../behavioral-model/targets/simple_router/simple_router
TOPO_JSON_PATH=$THIS_DIR/router/simple_router.json
TOPO_CLI_PATH=$THIS_DIR/../behavioral-model/tools/runtime_CLI.py
# ---------------- END ------------------