#!/bin/bash
THIS_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

# ---------------- EDIT THIS ------------------
TOPO_EXEC_PATH=$THIS_DIR/../behavioral-model/targets/simple_router/simple_router
TOPO_CLI_PATH=$THIS_DIR/../behavioral-model/tools/runtime_CLI.py

TOPO_JSON_SIMPLE_PATH=$THIS_DIR/router/simple_router.json
TOPO_JSON_ECMP_PATH=$THIS_DIR/router/ecmp_router.json

TOPO_TABLEGEN_SIMPLE_PATH=$THIS_DIR/router/tablegen_simple.py
TOPO_TABLEGEN_ECMP_PATH=$THIS_DIR/router/tablegen_ecmp.py
# ---------------- END ------------------
